{% extends 'base.html' %}

{% block title %}Удалить Продукт{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:product_view' product.pk %}">Подробнее</a></li>
{% endblock %}

{% block content %}
        {% if perms.webapp.delete_product %}
            <h1>Вы уверены что хотите удалить "{{ product.name }}"?</h1>
            <form method="POST" action="{% url 'webapp:product_delete' product.pk %}" class="text-center">
                {% csrf_token %}
                <p><input type="submit" value="Да"></p>
                <p><a href="{% url 'webapp:product_view' product.pk %}">Нет</a></p>
            </form>
        {% else %}
            {% url 'webapp:not_allowed' product.pk %}
        {% endif %}
{% endblock %}