
{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    {% if request.user.is_authenticated %}
    <li><a href ="{% url 'webapp:product_add' %}">Добавить Продукт</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Продукты:</h1>
    <hr/>
    {% include 'partial/simple_search.html' %}
    {% if is_paginated %}

       {% include 'partial/pagination.html' %}

   {% endif %}
    {% for product in products %}
        <h2>{{ product.name }}</h2>
        {% if product.image %}
            <img src="{{ product.image.url }}" width="200" height="200"  alt="{{ product.name }}">
            <p>{{ product.description }}></p>
        {% else %}
            <img src="{% static "images/nophoto.png" %}" width="200" height="200" alt="Заглушка" >
        {% endif %}
            <a href="{% url 'webapp:product_view' product.pk %}">Подробнее.</a>
            <a href="{% url 'webapp:product_change' product.pk %}">Обновить</a>
            <a href="{% url "webapp:product_delete" product.pk %}">Удалить</a>
        <hr/>
    {% endfor %}
    {% if is_paginated %}

       {% include 'partial/pagination.html' %}

   {% endif %}
{% endblock %}