{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ product.name }}{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:product_change' product.pk %}">Обновить</a></li>
    <li><a href="{% url 'webapp:product_delete' product.pk %}">Удалить</a></li>
{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    {% if product.image %}
        <img class="product-image" src="{{ product.image.url }}" width="250" height="250" alt="{{ product.name }}">
    {% else %}
        <img src="{% static "images/nophoto.png" %}" width="200" height="200" alt="Заглушка" >
    {% endif %}
    <div class="pre-1">
        <p>{{ product.description }}</p>
        <p>Категория: {{ product.category }}</p>
    </div>
    <hr/>
    <h3>Отзывы:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="review-list">
        {% for review in product.review.all %}
            <div class="review">
                <p><strong>Автор:</strong> {{ review.author }}
                <p><strong>Почта:</strong> {{ review.author.email }}
                <div class="pre">{{ review.text }}</div>
                <div class="pre" style="margin-top: 10px;"><strong>Рейтинг:</strong> {{ review.raiting }}</div>
                <p class="comment-links">
                        <a href="{% url 'webapp:review_change' review.pk %}">Обновить</a>
                        <a href="{% url 'webapp:review_delete' review.pk %}">Удалить</a>
                </p>
            <hr>
            </div>
        {% empty %}
            <p>Нет отзывов</p>
        {% endfor %}
    </div>
    <form action="{% url 'webapp:product_review_add' product.pk %}" method="POST" id="add_comment">
        {% include 'partial/form.html' with button_text='Добавить Отзыв' %}
    </form>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
